/* Space out content a bit */

.ng-grid{
  height: 300px;
}

/* Customize container */

.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

table tr{
  cursor: pointer;
}

#json-pretty-print{
  font-family: 'DejaVu Sans Mono','Courier New',monospace;
  font-size: 11px;
  line-height: 17px;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

#json-pretty-print img{
  display: none;
}


/*JSON pretty print*/
.PropertyName {
    color: #204a87
}

.Number {
    color: #ad7fa8
}

.String {
    color: #4e9a06
}

.boolean {
    color: #c4a000
}

.Null {
    color: #babdb6;
    font-style: italic
}

.error {
    background: url(img/syntax-error.png) repeat-x left bottom;
    border-radius: 3px;
    cursor: default;
    padding: 0;
    text-shadow: none
}

.error::after {
    background: rgba(255,0,0,.4);
    border-radius: 2px;
    content: "";
    display: block;
    height: 17px;
    left: 10px;
    margin-top: -17px;
    position: absolute;
    width: 10px
}

.error:hover::after {
    background: rgba(255,0,0,.8)
}


h1.logo:hover {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22100.0px%22%20height%3D%22100px%22%20viewBox%3D%220%200%20512%20512%22%20enable-background%3D%22new%200%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M446.313%2C208.813C447.031%2C203.25%2C448%2C197.75%2C448%2C192c0-70.688-57.281-128-128-128c-41.813%2C0-78.594%2C20.344-101.938%2C51.375%20%20C209.656%2C113.344%2C201%2C112%2C192%2C112c-61.875%2C0-112%2C50.125-112%2C112c0%2C1.75%2C0.438%2C3.313%2C0.5%2C5.063C34.094%2C242.719%2C0%2C285.156%2C0%2C336%20%20c0%2C61.875%2C50.125%2C112%2C112%2C112h272c70.719%2C0%2C128-57.281%2C128-128C512%2C272.063%2C485.344%2C230.75%2C446.313%2C208.813z%20M360%2C352H232v32l-80-48%20%20l80-48v32h128V352z%20M280%2C288v-32H152v-32h128v-32l80%2C48L280%2C288z%22/%3E%0A%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 50px;
  color: #000;
}

h1.logo {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22100.0px%22%20height%3D%22100px%22%20viewBox%3D%220%200%20512%20512%22%20enable-background%3D%22new%200%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20d%3D%22M446.844%2C208.875C447.625%2C203.313%2C448%2C197.656%2C448%2C192c0-70.563-57.406-128-128-128%20%20%20c-40.938%2C0-78.531%2C19.344-102.344%2C51.063C209.25%2C113.031%2C200.688%2C112%2C192%2C112c-61.75%2C0-112%2C50.25-112%2C112%20%20%20c0%2C1.563%2C0.031%2C3.094%2C0.094%2C4.625C33.813%2C242.375%2C0%2C285.313%2C0%2C336c0%2C61.75%2C50.25%2C112%2C112%2C112h272c70.594%2C0%2C128-57.406%2C128-128%20%20%20C512%2C273.344%2C486.344%2C231.188%2C446.844%2C208.875z%20M384%2C416H112c-44.188%2C0-80-35.813-80-80s35.813-80%2C80-80%20%20%20c2.438%2C0%2C4.75%2C0.5%2C7.125%2C0.719c-4.5-10-7.125-21.031-7.125-32.719c0-44.188%2C35.813-80%2C80-80c14.438%2C0%2C27.813%2C4.125%2C39.5%2C10.813%20%20%20C246%2C120.25%2C280.156%2C96%2C320%2C96c53.031%2C0%2C96%2C42.969%2C96%2C96c0%2C12.625-2.594%2C24.625-7.031%2C35.688C449.813%2C238.75%2C480%2C275.688%2C480%2C320%20%20%20C480%2C373.031%2C437.031%2C416%2C384%2C416z%22/%3E%0A%09%3Cpolygon%20points%3D%22280%2C224%20152%2C224%20152%2C256%20280%2C256%20280%2C288%20360%2C240%20280%2C192%20%20%22/%3E%0A%09%3Cpolygon%20points%3D%22232%2C288%20152%2C336%20232%2C384%20232%2C352%20360%2C352%20360%2C320%20232%2C320%20%20%22/%3E%0A%3C/g%3E%0A%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 50px;
  color: #000;
}

